.service-component {
  border: solid black 5px;
  border-radius: 30px;
  padding: 2em;
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  background-image: url("https://s2.best-wallpaper.net/wallpaper/1920x1080/1112/404-error-desktop-not-found_1920x1080.jpg");
  background-size: contain;
}

.container {
  margin: 1em;
  border: 2px solid black;
  border-radius: 4px;
  width: 20%;
  padding: 0.5em;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 30px;
  /* opacity: 0.9; */
}

.title, .categorie {
  text-align: center;
}