.service-component {

  padding: 2em;
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  height: 31em;
}

.service-container {
  margin: 0.5em;
  flex: 1;
  padding: 0.5em;
}

.service-container h3 {
  text-align: left;
  margin-left: -30px;
}