.App-logo{

max-width: 100%;
height: auto;
display: block;
margin: 0 auto;
}

/* Style heading */
h1{

    font-weight: bold;
    
}

.head{

  margin: 50px;  
}

@media (max-width: 768px){ 
    h1{
       
        font-size: 1.5em !important;
    }
}

@media (min-width: 1084px){ 
    h1{
      
        font-size: 3em !important;

    }
}

/* nvbar css */
@media (min-width: 1068px){ 
   .nav-link {
       
       padding: 20px;
       font-size: 1.5em !important;
      
    }
}

@media (min-width: 768px ){ 
    .nav-link {
        background: none;
        padding: 20px;
        font-size: 15px;
      
     }
 }
 /* style paragraphe */
p {
    
 text-align: justify;
 align-items: center;
 font-size: 20px;
 word-spacing: normal;
 
}
  

@media (max-width: 768px){ 
    p{
       
        text-align: center;
        word-spacing: 3px;
    }
}

