.App-logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

/* Style heading */
h1 {
  font-weight: bold; }

@media (max-width: 768px) {
  h1 {
    font-size: 1.5em !important; } }

@media (min-width: 1084px) {
  h1 {
    font-size: 3em !important; } }

/* nvbar css */
@media (min-width: 1068px) {
  .nav-link {
    padding: 20px;
    font-size: 1.5em !important; } }

@media (min-width: 768px) {
  .nav-link {
    background: none;
    padding: 20px;
    font-size: 15px; } }

/* style paragraphe */
.text p {
  text-align: justify;
  font-size: 20px;
  padding-top: 20px;
  margin: 50px; }

@media (max-width: 500px) {
  .text p {
    font-size: 16px;
    word-spacing: 0.1em;
    text-align: initial;
    margin: 0px;
    margin-top: 20px;
    margin: 5px;
    padding-top: 20px; } }

#logo {
  max-width: 10%;
  height: auto;
  display: block; }
