/* style popin */
.popin{

	font-family: "sans-serif";
	text-align: "center";
	margin: 90px;

}



@keyframes down{
	0% {position:relative; top:0px; opacity: 0}
	50% {position:relative; top:15px; opacity: 0.5}
	100% {position:relative; top:30px; opacity: 1}

}

#fleche{
	animation: down 1s infinite linear alternate;
	width: 3%;
}









