.navigation-bar {
  background: #1d1e22;
  display: flex;
  justify-content: center;

  padding: 30px 0;
  height: 100%;
}

.navigation-horizontal {
  flex-direction: row !important;
  width: 100vw;
}

.navigation-vertical {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  flex-direction: column !important;
  padding: 0 35px;
}

.navigation-vertical ul {
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.navigation-vertical ul a {
  margin: 15px 0 !important;
}

.navigation-bar ul {
  display: flex;
  padding: 0;
}

.navigation-bar ul a {
  margin: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  transition: 0.2s ease;
}
.navigation-bar ul a:hover {
  font-size: 18px;
}

.item-inactive {
  color: #ecf0f1 !important;
}
.item-active {
  color: #1abc9c !important;
}
