/* style heading */
.heading {
  text-align: center;
  margin-top: 100px; }

h6 {
  padding: 20px;
  text-align: center; }

/* version mobile */
@media (max-width: 500px) {
  h6 {
    text-align: center; } }

/* style btn */
/* version mobile */
@media (max-width: 500px) {
  .btn-primary {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    font-size: 10px; } }
