/* style heading */
.heading {
  text-align: center;
  margin-top: 100px; }

h6 {
  padding: 20px;
  text-align: center;
  text-transform: capitalize; }

/* version mobile */
@media (max-width: 768px) {
  h6 {
    text-align: center;
    text-transform: capitalize; } }

.btn.btn-primary {
  display: block;
  padding: 20px;
  text-align: center;
  margin: 0 auto; }

/* style btn */
/* version mobile */
@media (max-width: 768px) {
  .btn-primary {
    display: block;
    margin-top: 20px;
    padding: 5px;
    font-size: 10px;
    text-align: center; } }
