/* .room-component {
    border: 1px solid #333;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    text-align: center;
} */

.container {
    display: flex;
    margin : 1.2em 0 1.2em 0;
}

.room-list {
    border: 1px solid #333;
    border-radius: 5px;
    list-style: none;
    padding: 5px 5px;
    margin: 0px 10px;
    text-align: center;
    line-height: 1.4em;

}

.room-list:hover {
    background-color: lightgray;
}

.image {
    display: block;
    width : 100px;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 15px;
}
